Repository upstage-org/upstage, pull requests merged in 2021-01, with the labels that each got.

#106 Issue 105 cleanup
  auth/unittests/test_token_refresh.py
  dispatcher/main.py
  performance/models.py
  performance/schema.py
  performance/sqlfiles/create.sql
  system/dev/upstage.nginx
  ui/dashboard/src/config.js
  ui/dashboard/vue.config.js
  ui/static/css/reset.css
Labels: enhancement

#109 Issue 91 performance state
  requirements.pip
  state_machine/__init__.py
  state_machine/actions.py
  state_machine/config.py
  state_machine/db.py
  state_machine/mqtt.py
  state_machine/system.py
Labels: state

#115 Repurpose State Machine
  event_archive/__init__.py
  event_archive/actions.py
  event_archive/config.py
  event_archive/db.py
  event_archive/models.py
  event_archive/mqtt.py
  event_archive/schema.sql
  event_archive/system.py
  state_machine/actions.py
  state_machine/db.py
Labels: choreography, orchestration, state

#121 Issue 116 Demo Stage
  ui/dashboard/public/demo/audios/rain_thunder_5m.mp3
  ui/dashboard/public/demo/audios/thunder.mp3
  ui/dashboard/public/demo/avatars/alienmali.png
  ui/dashboard/public/demo/avatars/dave_02.png
  ui/dashboard/public/demo/avatars/dave_05.png
  ui/dashboard/public/demo/avatars/dave_07.png
  ui/dashboard/public/demo/avatars/dave_11.png
  ui/dashboard/public/demo/avatars/dave_14.png
  ui/dashboard/public/demo/avatars/dave_15.png
  ui/dashboard/public/demo/avatars/flowergirl1.png
  ui/dashboard/public/demo/avatars/flowergirl2.png
  ui/dashboard/public/demo/avatars/flowergirl3.png
  ui/dashboard/public/demo/avatars/flowergirl4.png
  ui/dashboard/public/demo/avatars/lionmonkey.png
  ui/dashboard/public/demo/props/fallentree.png
  ui/dashboard/public/demo/props/fire013.gif
  ui/dashboard/public/demo/props/fire017.gif
  ui/dashboard/public/demo/props/fire020.gif
  ui/dashboard/public/demo/props/logo-upstage-official-print_500px.png
  ui/dashboard/public/demo/props/mobilise-demoblise-logo-version-black.gif
  ui/dashboard/public/demo/props/mobilise-demoblise-logo-version-white.png
  ui/dashboard/public/demo/props/trees.png
  ui/dashboard/src/components/Image.vue
  ui/dashboard/src/components/objects/ContextMenu.vue
  ui/dashboard/src/components/objects/Object.vue
  ui/dashboard/src/components/objects/OpacitySlider.vue
  ui/dashboard/src/components/objects/Skeleton.vue
  ui/dashboard/src/components/stage/Board.vue
  ui/dashboard/src/store/demoData.js
  ui/dashboard/src/store/modules/stage/index.js
  ui/dashboard/src/store/modules/stage/reusable.js
  ui/dashboard/src/utils/constants.js
Labels: avatars, backdrops, bug

#123 PWA Support
  ui/dashboard/package.json
  ui/dashboard/public/img/icons/android-chrome-192x192.png
  ui/dashboard/public/img/icons/android-chrome-512x512.png
  ui/dashboard/public/img/icons/android-chrome-maskable-192x192.png
  ui/dashboard/public/img/icons/android-chrome-maskable-512x512.png
  ui/dashboard/public/img/icons/apple-touch-icon-120x120.png
  ui/dashboard/public/img/icons/apple-touch-icon-152x152.png
  ui/dashboard/public/img/icons/apple-touch-icon-180x180.png
  ui/dashboard/public/img/icons/apple-touch-icon-60x60.png
  ui/dashboard/public/img/icons/apple-touch-icon-76x76.png
  ui/dashboard/public/img/icons/apple-touch-icon.png
  ui/dashboard/public/img/icons/favicon-16x16.png
  ui/dashboard/public/img/icons/favicon-32x32.png
  ui/dashboard/public/img/icons/favicon.ico
  ui/dashboard/public/img/icons/msapplication-icon-144x144.png
  ui/dashboard/public/img/icons/mstile-150x150.png
  ui/dashboard/public/img/icons/safari-pinned-tab.svg
  ui/dashboard/public/robots.txt
  ui/dashboard/src/main.js
  ui/dashboard/src/registerServiceWorker.js
  ui/dashboard/src/router/index.js
  ui/dashboard/vue.config.js
  ui/dashboard/yarn.lock
Labels: enhancement

#126 Stage Drawing Tool
  ui/dashboard/src/components/objects/Object.vue
  ui/dashboard/src/components/stage/Toolbox/TopBar.vue
  ui/dashboard/src/components/stage/Toolbox/index.vue
  ui/dashboard/src/components/stage/Toolbox/tools/Audio.vue
  ui/dashboard/src/components/stage/Toolbox/tools/Backdrops.vue
  ui/dashboard/src/components/stage/Toolbox/tools/Draw/composable.js
  ui/dashboard/src/components/stage/Toolbox/tools/Draw/index.vue
  ui/dashboard/src/store/modules/stage/demoData.js
  ui/dashboard/src/store/modules/stage/index.js
  ui/dashboard/src/styles/mixins.scss
  ui/dashboard/src/views/live/Live.vue
Labels: drawing
