Repository upstage-org/upstage, pull requests merged in 2021-03, with the labels that each got.

#157 Issue 149 text tool
  ui/dashboard/src/App.vue
  ui/dashboard/src/components/form/Dropdown.vue
  ui/dashboard/src/components/objects/Object.vue
  ui/dashboard/src/components/objects/Skeleton.vue
  ui/dashboard/src/components/objects/Text.vue
  ui/dashboard/src/components/stage/Board.vue
  ui/dashboard/src/components/stage/Chat/Reaction.vue
  ui/dashboard/src/components/stage/Toolbox/index.vue
  ui/dashboard/src/components/stage/Toolbox/tools/Draw/index.vue
  ui/dashboard/src/components/stage/Toolbox/tools/Text.vue
  ui/dashboard/src/services/graphql/user.js
  ui/dashboard/src/store/modules/auth.js
  ui/dashboard/src/store/modules/stage/index.js
  ui/dashboard/src/store/modules/user.js
  ui/dashboard/src/styles/custom.scss
Labels: chat

#158 Fix Mutation Issues
  config/project_globals.py
  run_upstage.py
  user/schema.py
  user/user_api.py
  user/user_utils.py
  utils/graphql_utils.py
Labels: access control

#165 Issue 162 Relative Size
  ui/dashboard/.eslintrc.js
  ui/dashboard/package.json
  ui/dashboard/src/components/objects/OpacitySlider.vue
  ui/dashboard/src/components/stage/Board.vue
  ui/dashboard/src/components/stage/Chat/Reaction.vue
  ui/dashboard/src/components/stage/Chat/index.vue
  ui/dashboard/src/components/stage/StageTable.vue
  ui/dashboard/src/store/modules/stage/demoData.js
  ui/dashboard/src/store/modules/stage/index.js
  ui/dashboard/src/store/modules/stage/reactiveViewport.js
  ui/dashboard/src/store/modules/stage/reusable.js
  ui/dashboard/src/styles/custom.scss
  ui/dashboard/src/views/live/Live.vue
  ui/dashboard/yarn.lock
Labels: stage

#170 trying out this config
  system/dev/streaming/history.txt
  system/dev/streaming/info.txt
  system/dev/streaming/nginx.conf
  system/dev/streaming/streaming.conf
  system/dev/upstage.nginx
Labels: infrastructure, streaming

#182 Chat Opacity Setting
  ui/dashboard/src/components/stage/Chat/index.vue
  ui/dashboard/src/components/stage/SettingPopup/settings/Chat.vue
  ui/dashboard/src/store/modules/stage/index.js
Labels: chat

#189 Visual Identity
  ui/dashboard/package.json
  ui/dashboard/public/icons/bring-to-front.svg
  ui/dashboard/public/icons/change-nickname.svg
  ui/dashboard/public/icons/delete.svg
  ui/dashboard/public/icons/multi-frame.svg
  ui/dashboard/public/icons/new.svg
  ui/dashboard/public/icons/play.svg
  ui/dashboard/public/icons/rotation-slider.svg
  ui/dashboard/public/icons/send-to-back.svg
  ui/dashboard/src/components/DataTable.vue
  ui/dashboard/src/components/DataTable/Pagination.vue
  ui/dashboard/src/components/DataTable/index.vue
  ui/dashboard/src/components/form/Dropdown.vue
  ui/dashboard/src/components/stage/StageTable.vue
  ui/dashboard/src/components/stage/Toolbox/PanelItem.vue
  ui/dashboard/src/components/stage/Toolbox/index.vue
  ui/dashboard/src/services/graphql/composable.js
  ui/dashboard/src/services/graphql/stage.js
  ui/dashboard/src/services/graphql/user.js
  ui/dashboard/src/styles/bulma.scss
  ui/dashboard/src/utils/stage.js
  ui/dashboard/src/views/dashboard/Admin/RegistrationApproval.vue
  ui/dashboard/src/views/dashboard/Media/MediaList.vue
  ui/dashboard/yarn.lock
Labels: stage

#196 Issue 192 Drawing Optimisation
  ui/dashboard/src/components/stage/Toolbox/tools/Draw/composable.js
  ui/dashboard/src/components/stage/Toolbox/tools/Draw/index.vue
Labels: bug, drawing
